<!-- public/views/advent.html -->
<div class="page-header text-center">
    <h2>Advent Game Play</h2>
    <p>{{ tagline }}</p>
</div>
<div>
    <textarea class=col-md-12 style="color:green; background-color: black" readonly=true autoscroll=true id='commandHistory' cols=100 rows=10 ng-model=commandHistory></textarea>
</div>
<div>
    <form style="color:black" ng-submit="doCmd()">
        <strong>
            <span class=col-md-3 style="text-align:right">
                <i style="color:yellowgreen;font-size: x-large" class="fa fa-hand-o-right"></i>&nbsp;Type command and hit enter:
            </span>
            <input class=col-md-4 type="text" ng-model="cmd" name="cmd" placeholder="What do you want to do?"/>
        </strong>
    </form>
    <textarea class="col-md-12" style="color:green; background-color: black" cols=100 rows=15 ng-model=responseHistory> 
    </textarea>
</div>